.main {
  position: relative;
  top: 7.5rem;
}

.homepage {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

.heading{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  width: 80%;
  font-size: 3.125rem;
  color: orangered;
}

.description {
text-align: center;
width: 80%;
color: white;
font-size: 1.875rem;
font-weight: bold;
}
.spinnerBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.navbar {
 position: fixed;
 width: 100%;
 height: 3.75rem;
 top: 3.125rem;
 font-weight: bolder;
 font-size: 1.25rem;
 display: flex;
 justify-content: space-around;
 padding: 1.25rem;
 background-color: white;
 align-items: center;
 z-index: 3;
}

.dashboardnav {
  font-size: 1.25rem;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  height: 60vh;
  padding: 1.25rem;
  font-weight: bold;
  
}

.dashboard {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
  background-color: white;
  
}

.dashboardPage {
  width: 100%;
  height: 100vh;
  background-image: url('../public/android-chrome-512x512.png');
  background-position: center;
  background-size: cover;
}

 
.blogPage {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 1.25rem;
  text-align: center;
}
.title {
  background-color: #0056b3;
  text-align: center;
  position: fixed;
  padding: 5px;
  width: 100%;
  z-index: 5;
}
.hr {
  height: 80vh;
  border: 2px solid gold;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  border: 1px solid orangered;
  margin: 1.25rem; 
  padding: 1.25rem; 
  color: black;
  text-align: center; 
  width: 18.75rem;
  height: 31.25rem;
}

 /*.productImage {
  width: 12.5rem;
  height: 12.5rem;
} */

.page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.about {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: justify;

}
.aboutWrapper {
  width: 100%;
  background-color: white;
}
.contacts {
  height: 100vh;
  background-color: goldenrod;
  
}

.productsPageLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  margin-top: 1.25rem;
  background-color: azure;
}

.mybtn {
  display: inline-block;
  padding: 0.625rem 1.25rem; 
  font-size: 1rem; 
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 0.25rem; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.mybtn:hover {
  background-color: #0056b3; 
}


.loader {
  text-align: center;
}

/* spinning animation for the spinner */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.errorPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.backHome {
  color: #0056b3;
}

.profileSettings {
  display: flex;
  flex-direction: row;
  align-items: center;

}
.settingsLink {
color: orangered;
}
.menuButton {
  border-radius: 50%;
}
.profPhoto {
  border-radius: 50%;
}
.settingsIcon {
  color: #0056b3;
 width: 1.5rem;
 height: 1.5rem;
}
.signOutButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: blue;
  color: white;
  padding: 0.25rem;
  border-radius: 0.625rem;
}
.signOutIcon {
  width: 1.5rem;
  height: 1.5rem;
}
.menuItems{
  background-color: white;
  border: 2px solid orangered;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  position: absolute;
  right: 1.25rem;
  padding: 1.25rem;
}
.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0056b3;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
}

.googleSignIn {
  color: orangered;
  padding: 15px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  border-radius: 5%;
}
.containerSignIn {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #007bff;
}

.signInHeading {
  margin-bottom: 20px;
  font-size: 35px;
}  

.signIn {
  padding: 0.625rem;
  background-color: orangered;
  color: white;
  border-radius: 0.25rem;
  font-size: 1rem;
}